/* custom css lives here */
/*
*File name : app.css
*Author's name : Seol Cheon
*Student Number: 301113120
*Web site name : Slot Machine
*File description : css file that allow to attach style to html file
                    in this file, I attatched style of body and canvas
*/

body
{
    background-color: lightgray;
}

#canvas
{
    margin-left: 10px;
    background-color: white;
    border: 1px dotted black;
}